<div class="main-background">
  <div class="container p-4">
    <div class="row align-items-center g-5">
      <div
        class="col-12 col-md-6 mt-5 mb-3 mt-lg-0 pt-4 pt-md-0 text-center text-md-start"
        data-aos="fade-up"
        data-aos-easing="ease"
        data-aos-delay="400"
      >
        <h1 class="display-1 fw-bold text-body-emphasis">
          Zack Young
        </h1>
        <h2
          class="h4 fw-bold text-primary"
        >Cloud Developer</h2>
        <p class="lead">
          I'm a Full-Stack Web Developer and Cloud Engineer specializing in
          JavaScript, Python, and AWS. I help businesses build and deploy
          modern web applications that are fast, reliable, and secure.
        </p>
        <a class="btn btn-lg btn-primary" href="/contact.html">Contact Me</a>
      </div>
      <div
        class="col-12 col-md-6 mb-2 mt-4 text-center"
        data-aos="fade-up"
        data-aos-easing="ease"
        data-aos-delay="600"
      >
        <img
          alt="me"
          class="image-of-me w-100"
          src="/assets/images/picture-of-zack.png"
        />
      </div>
    </div>
  </div>
</div>
