<div class="container py-5">
  <div
    data-aos="fade-up"
    data-aos-easing="ease"
  >
    <h3 class="display-5 fw-bold">Skills</h3>
    <p
      class="fs-5 text-body-secondary mb-0"
    >Technologies in which I am proficient.</p>
  </div>
  <div
    class="row text-center"
    data-aos="fade-up"
    data-aos-easing="ease"
  >
    <div class="col-6 col-md-4 mt-5">
      <img
        alt="React"
        height="40"
        src="/assets/images/logos/react_logo.svg"
      />
    </div>
    <div class="col-6 col-md-4 mt-5">
      <img
        alt="Vue.js"
        height="40"
        src="/assets/images/logos/vue_logo.svg"
      />
    </div>
    <div class="col-6 col-md-4 mt-5">
     <img
        alt="Next.js"
        height="40"
        src="/assets/images/logos/nextjs_logo.svg"
      />
    </div>
    <div class="col-6 col-md-4 mt-5">
      <img
        alt="Express.js"
        height="40"
        src="/assets/images/logos/express_logo.svg"
      />
    </div>
    <div class="col-6 col-md-4 mt-5">
      <img
        alt="Django"
        height="40"
        src="/assets/images/logos/django_logo.svg"
      />
    </div>
    <div class="col-6 col-md-4 mt-5">
      <img
        alt="MongoDB"
        height="40"
        src="/assets/images/logos/mongodb_logo.svg"
      />
    </div>
    <div class="col-6 col-md-4 mt-5">
      <img
        alt="MySQL"
        height="40"
        src="/assets/images/logos/mysql_logo.svg"
      />
    </div>
    <div class="col-6 col-md-4 mt-5">
      <img
        alt="AWS"
        height="40"
        src="/assets/images/logos/aws_logo.svg"
      />
    </div>
    <div class="col-12 col-md-4 mt-5">
      <img
        alt="TypeScript"
        height="40"
        src="/assets/images/logos/typescript_logo.svg"
      />
    </div>
  </div>
</div>
