// Import required fonts.
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import 'abstracts/variables';

// Override default fonts.
$font-family-base: "Open Sans", "Nunito Sans", "Poppins", sans-serif;
$font-family-sans-serif: "Open Sans", "Nunito Sans", "Poppins", sans-serif;

@import 'bootstrap/bootstrap';
@import 'components/article';
@import 'components/buttons';
@import 'components/code';
@import 'components/footer';
@import 'components/header';
@import 'components/preview';
@import 'components/sidebar';

.nav {
  .contact-btn {
    margin-bottom: 0.4em;
  }
}

.main-background {
  background: no-repeat center url('/assets/images/background.jpg');
}

.post-category {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial;
}

.image-of-me {
  max-width: 25em;
}

.blog-summary {
  .card-image {
    max-height: 13em;
    object-fit: cover;
    width: 100%;
  }

  .card-title {
    transition: color 0.15s ease-in-out;
  }

  .card-title:hover {
    color: $primary
  }
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;

  #clear-button {
    padding-right: 0.6em;
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 1.2em;
  }
}
